{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">

        <span class="brand-text font-weight-light">Atmaca Değerleme Veritabanı</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <div style="width: 40px;height: 40px; background: #f49e27; display: flex; justify-content: center;align-items: center;border-radius: 50%;color: white; font-weight: bold;font-size: 1.4rem;">
                    {{ request.user.first_name|slice:1 }}{{ request.user.last_name|slice:1 }}</div>
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.first_name }} {{ request.user.last_name }}</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Ara"
                       aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">

                <li class="nav-item">
                    <a href="{% url 'mainpage' %}" class="nav-link {% if request.path == '/' %}active{% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Anasayfa
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'add_rapor' %}"
                       class="nav-link {% if request.path == '/rapor/ekle' %}active{% endif %}">
                        <i class="nav-icon fas fa-plus"></i>
                        <p>
                            Rapor Ekle
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'near_rapor' %}"
                       class="nav-link {% if request.path == '/rapor/yakin-rapor' %}active{% endif %}">
                        <i class="nav-icon fas fa-search-location"></i>
                        <p>
                            Yakın Rapor
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'all_rapor' %}"
                       class="nav-link {% if '/tum-raporlar' in request.path %}active{% endif %}">
                        <i class="nav-icon fas fa-file"></i>
                        <p>
                            Tüm Raporlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'imar_plani_onay_tarihleri' %}"
                       class="nav-link {% if '/imar-plani-onay-tarihleri' in request.path %}active{% endif %}">
                        <i class="nav-icon fas fa-file-signature"></i>
                        <p>
                            İmar Onay Tarihleri
                        </p>
                    </a>
                </li>
                <li class="nav-item {% if '/maaslar' in request.path or '/arac-kiralari' in request.path or '/primler' in request.path %}menu-open{% endif %}">
                    <a href="#"
                       class="nav-link {% if '/maaslar' in request.path or '/arac-kiralari' in request.path or '/primler' in request.path %}active{% endif %}">
                        <i class="nav-icon fas fa-coins"></i>
                        <p>
                            Gelir Durumu
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'maas' %}"
                               class="nav-link {% if '/maaslar' in request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Maaş</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'arac_kirasi' %}"
                               class="nav-link {% if '/arac-kiralari' in request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Araç Kirası</p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="{% url 'prim' %}"
                               class="nav-link {% if '/primler' in request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Prim</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item {% if  'adres' in request.path or 'yapi-birim-maliyetleri' in request.path %}menu-open{% endif %}">
                    <a href="#"
                       class="nav-link {% if  'adres' in request.path or 'yapi-birim-maliyetleri' in request.path %}active{% endif %}">
                        <i class="nav-icon uil uil-elipsis-double-v-alt"></i>
                        <p>
                            Sabit Değerler
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'address_city' %}"
                               class="nav-link {% if 'adres' in request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Adresler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'yapi_birim_maliyetleri' %}"
                               class="nav-link {% if 'yapi-birim-maliyetleri' in request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Yapı Birim Maliyetleri
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}"
                       class="nav-link {% if 'cikis-yap' in request.path %}active{% endif %}">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <p>
                            Çıkış Yap
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>