{% extends 'layout.html' %}
{% load static %}
<title>{% block title %}{{ maliyet.yapi_sinifi }} Güncelle{% endblock %}</title>
{% block build_coast %}
    <script src="{% static "plugins/jquery/jquery.min.js" %}"></script>
    <div class="content-wrapper">
        <div class="row p-0 m-0">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-left" style="background: #F4F6F9;">
                    <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'yapi_birim_maliyetleri' %}">Yapı Birim Maliyetleri</a></li>
                    <li class="breadcrumb-item active">{{ maliyet.yapi_sinifi }} Güncelle</li>
                </ol>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-lg-12">
                <form action="{% url 'update_yapi_birim_maliyeti' maliyet.id %}" method="post" class="pt-2"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{{ maliyet.yapi_sinifi }} Güncelle</h3>
                        </div>
                        <div class="card-body">
                            {{ form.as_p }}

                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for field, errors in update_form.errors.items %}
                                        {% for error in errors %}
                                            <b>{{ field }}</b>: {{ error }}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endif %}

                        </div>
                        <div class="card-footer">
                            <input type="submit" class="btn btn-primary" name="coast_update" value="Güncelle">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="{% static "plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

{% endblock %}