{% extends 'layout.html' %}
{% load static %}
<title>{% block title %}İmar Planı Onay Tarihleri{% endblock %}</title>
{% block imar_tarihi %}

    <script src="{% static "plugins/jquery/jquery.min.js" %}"></script>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">İmar Planı Onay Tarihleri</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'mainpage' %}">Anasayfa</a></li>
                            <li class="breadcrumb-item">İmar Planı Onay Tarihleri</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <div class="content">
            <div class="row p-0 m-0">
                <div class="col-lg-6">
                    <form action="" method="post" class="pt-2"
                          enctype="multipart/form-data" id="addForm" data-counties-url="{% url 'load_ilceler' %}" data-neighbourhoods-url="{% url 'load_mahalleler' %}">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-body">
                                {{ form.as_p }}

                                {% if form.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for field, errors in form.errors.items %}
                                            {% for error in errors %}
                                                <b>{{ field }}</b>: {{ error }}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <input type="submit" class="btn btn-primary" name="date_add" value="Ekle">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <div class="all-classes pt-2">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Plan Onay Tarihleri</h3>
                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" onkeyup="searchFunction();" id="search"
                                               class="form-control float-right"
                                               placeholder="Search">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0" style="height: 300px;">
                                <table class="table table-head-fixed text-nowrap" id="courseTable">
                                    <thead>
                                    <tr id="check-th">
                                        <th>İl</th>
                                        <th>İlçe</th>
                                        <th>Mahalle</th>
                                        <th>Ada</th>
                                        <th>Parsel</th>
                                        <th>Onay Tarihi</th>
                                        <th>Oluşturulma Tarihi</th>
                                        <th>Güncelleme Tarihi</th>
                                        <th>Durum</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in tarihler %}
                                        <tr>
                                            <td>{{ s.il }}</td>
                                            <td>{{ s.ilce }}</td>
                                            <td>{{ s.mahalle }}</td>
                                            <td>{{ s.ada }}</td>
                                            <td>{{ s.parsel }}</td>
                                            <td>{{ s.tarih }}</td>
                                            <td>{{ s.created_at }}</td>
                                            <td>{{ s.updated_at }}</td>
                                            <td>

                                                <button type="button" class="btn btn-default bg-danger"
                                                        data-toggle="modal"
                                                        data-target="#modal-delete-{{ s.id }}">
                                                    Sil
                                                </button>
                                                <a href="{% url 'update_imar_plani_onay_tarihi' s.id %}" type="button"
                                                   class="btn btn-default bg-info">
                                                    Güncelle
                                                </a>

                                                <div class="modal fade" id="modal-delete-{{ s.id }}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Silmek istediğinize emin
                                                                    misiniz?</h4>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h5 class="text-bold">Silinecek plan onay tarihi:</h5>
                                                                <p>İl: {{ s.il }}</p>
                                                                <p>İlce: {{ s.ilce }}</p>
                                                                <p>Mahalle: {{ s.mahalle }}</p>
                                                                <p>Ada: {{ s.ada }}</p>
                                                                <p>Parsel: {{ s.parsel }}</p>
                                                                <p>Onay Tarihi: {{ s.tarih }}</p>
                                                            </div>
                                                            <div class="modal-footer justify-content-between">
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">
                                                                    Kapat
                                                                </button>
                                                                <a href="{% url 'delete_imarplani_onay_tarihi' s.id %}"
                                                                   class="btn btn-danger">Sil</a>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal-content -->
                                                    </div>
                                                    <!-- /.modal-dialog -->
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <span id="no-data"></span>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static "plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static 'js/imar_tarihi.js' %}"></script>

    <script>
        function searchFunction() {
            let input, filter, table, tr, td, j;
            input = document.getElementById("search");
            filter = input.value.toLowerCase();
            table = document.getElementById("courseTable");
            tr = table.getElementsByTagName("tr");

            for (j = 0; j < tr.length; j++) {
                td = tr[j].getElementsByTagName("td");
                msg = document.getElementById("no-data");

                if (td.length > 0) {
                    if (td[0].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[1].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[2].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[3].innerHTML.toLocaleLowerCase().indexOf(filter) > -1 ||
                        td[4].innerHTML.toLocaleLowerCase().indexOf(filter) > -1) {
                        tr[j].style.display = ""
                        msg.innerHTML = ""
                    } else {
                        tr[j].style.display = "none"
                    }
                }

                if (td.length == 0) {
                    msg.innerHTML = "Aramanızla eşleşen kayıt bulunamadı."
                }

            }
        }
    </script>

{% endblock %}